<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32300">
        <setting id="senseHAT" type="bool" label="32302" default="true" />
        <setting id="priority_senseHAT" type="slider" label="32301" visible="eq(-1,true)" default="5" range='1,1,10' option='int' />
        <setting id="folder_senseHAT" type="folder" label="32303" visible="eq(-2,true)" default="/home/pi/rpi.weatherstation.lite/data" />
		<setting label="" visible="eq(-3,true)" type="lsep" />
		<setting label="32304" visible="eq(-4,true)" type="lsep" />
		<setting label="32305" visible="eq(-5,true)"type="lsep" />
    </category>
    <category label="32200">
    	<setting id="rapid_pressure" type="number" label="32203" default="10" />
    	<setting id="regular_pressure" type="number" label="32204" default="3" />
    	<setting id="p_deltatime" type="number" label="32205" default="180" />
        <setting id="logging" type="bool" label="32201" default="false" />
		<setting label="" type="lsep" />
		<setting label="32306" type="action" action="RunScript(script.weatherstation, action=HideCursor)"/>
		<setting label="32307" type="action" action="RunScript(script.weatherstation, action=ShowCursor)"/>
		<setting label="32308" type="lsep" />
    </category>
</settings>